main {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url(komonjo.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}

.tatle_logo h1{
  font-size:4.0rem;
}

.tatle_logo{
  padding:100px;
  text-align:center;
}

.center {
  padding:10px;
  text-align:center;
}

.login_button{
  
}



