body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url(komonjo.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height:100vh;
}

.tatle_logo h1{
  font-size:6.0rem;
  font-family: serif;
}

.tatle_logo{
  padding:120px 60px;
  text-align:center;
  font-weight: bold;
}

.center {
  padding:10px;
  text-align:center;
}

.login_button{
  
}


#error_message p{
  font-size:29px;
  font-weight: bold;
}


